@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Pode ter as variáveis de cor do Shadcn aqui, se você estiver usando */
}

/* Esconder barra de rolagem mas permitir o scroll (Aquele ajuste premium que fizemos) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Barra de rolagem estilo Mac/iOS */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}